body
{
    font-size: 16px;
    font-family: 'Poppins', serif;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("http://www.unenvironment.org/sites/default/files/2017-11/brandon-green-321795.jpg");
    background-size: cover;
    padding: 5%;

}

.container{
    background-color: white;
    padding: 3%;
    width: 100%;
    height: 100%;
    background-size: cover;
    

}
.text-align-center{
    text-align: center;
}

.search{
    min-width: 80%
}


