{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&display=swap">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href= "{% static 'home.css' %}">




    <title>{{ Hello }}</title>
</head>
<body>
<div class="content">
    <div class="desc-section">
            <div class="container">
                <div class="row">
                    <div class="dropdown margin-tb-30">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Change Theme
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <button class="dropdown-item" type="button" id="changeLight">Light</button>
                                    <button class="dropdown-item" type="button" id="changeDark">Dark</button>
                                </div>
                            </div>
                </div>
                <div class="row">
                    <div class="col-sm-4"> </div>
                    <div class="col-sm-4">
                        <div class="desc">
                            <div class="profile-img"><img src="{% static 'bela.jpg' %}" alt=""></div>
                            <h3>Sinta Bela Damayanti</h3>
                            <p> 1806147193 <p>
                            <br>     
                    </div>
        
                    
                            
                            <ul class="accordion">
                                <li>
                                    <a class="toggle" href="javascript:void(0);" id="act">Kegiatan</a>
                                    <ul class="inner" id="activities">
                                    <li>Belajar</li>
                                    <li>Ngerjain Tugas PPW</li>
                                    <li>Ngerjain Tugas SDA</li>
                                    <li>Ngerjain Tugas ADBIS</li>
                                    <li>Ngerjain Tugas PPM</li>
                                    <li>Rapat Betis</li>
                                    <li>Sholat 5 waktu</li>
                                    </ul>
                                </li>

                                <li>
                                    <a class="toggle" href="javascript:void(0);" id="org">Pengalaman Organisasi</a>
                                    <ul class="inner" id="organization">
                                        <li>PJ Acara Betis</li>
                                        <li>HRD of Direct Marketing Compfest</li>
                                        <li>Staff Acara CGT</li>
                                        <li>Staff Acara Betis</li>
                                        <li>Staff Dokum Universiade UI</li>
                                    </ul>
                                </li>

                                <li>
                                    <a class="toggle" href="javascript:void(0);" id="ach"> Prestasi</a>
                                    <ul class="inner" id="achievement">
                                    <li>otw</li>
                                    <li>yah</li>
                                    <li>doain</li>
                                    <li>aja</li>
                                </ul>
                                </li>
                            </ul>
                        </div>  
                        </div>
                    
                </div>
           </div>
        </div>
        </div>

    <script type="text/javascript" src="{% static 'home.js' %}"></script>
    
</body>
</html>