body
{
    font-size: 16px;
    font-family: 'McLaren', cursive;
    width: 100%;
    height: 100%;
    margin: 0;
    color: #333;
    background-color: white;
}

img
{
    width: 100%;
}

.margin-tb-30
{
    margin-top: 30px;
    margin-bottom: 30px;
}


.desc-section
{
    padding-top: 70px;
    position: relative;
    background-color: rgb(126, 191, 255);
}

.desc
{
    padding: 0 20px;
    margin-top: 100px;
    text-align: center;
    background-color: white;
}

.desc .profile-img
{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: -100px;
    margin-bottom: -70px;
}

.desc .information > li
{
    display: block;
    margin: 0 0;
}

.desc .social-icons > li > a
{
    height: 35px;
    line-height: 35px;
    width: 35px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    margin: 0 5px 5px;
    background: #887392;
    color: #fff;
}

.desc-section:before
{
    content:'';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0, .2);
}

.desc-section:after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    z-index: -1;
    background-color: #fff;
}

ul {
    list-style: none;
}

.accordion a {
    text-decoration: none;
    color: inherit;
}

.accordion {
    list-style: none;
    padding: 0;
    margin: 40px auto;
}
.accordion .inner {
    padding-left: 1em;
    overflow: hidden;
    display: none;
}
.accordion .inner.show {
    /*display: block;*/
}
.accordion li {
    margin: 0.5em 0;
}
.accordion li a.toggle {
    width: 100%;
    display: block;
    background: rgb(38, 52, 58);
    color: rgb(117, 182, 207);
    padding: 0.75em;
    border-radius: 0.15em;
    transition: 0.3s ease;
}
.accordion li a.toggle:hover {
    background: rgb(38, 52, 58);
}

.accordion .inner li:hover {
    font-weight: 750;
}

.content {
    display: block;
}


