{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&display=swap">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href= "{% static 'cerita9.css' %}">





  <title>Sinta Bela Damayanti</title>


</head>

<body>

<div class="form">
		<ul class="tab-group">
			<li class="tab active"><a id="title_login" href="#login">Log In</a></li>
			<li class="tab "><a id="title_signup" href="#signup">Sign Up</a></li>
			
		</ul>
		
		<div class="tab-content">
			<div id="login">   
				<h1>Hello</h1>
			
				<form method="POST">
					{% csrf_token %}
				
					<div class="field-wrap">
						<label>
						Username<span class="req">*</span>
						</label>
						<input type="text" name="username" id="username_login" required autocomplete="off"/>
					</div>
				
					<div class="field-wrap">
						<label>
						Password<span class="req">*</span>
						</label>
						<input type="password" name="password" id="password_login" required autocomplete="off"/>
					</div>
				
					<button type="submit" id="submit_login" class="button button-block">Log In</button>
				
				</form>
	
			</div>

			<div id="signup">   
				<h1>Sign Up Here</h1>
				
				<form method="POST">
					{% csrf_token %}
					<div class="field-wrap">
						<label>
							Username<span class="req">*</span>
						</label>
						<input type="text" name="username" id="username_signup" required autocomplete="off" />
					</div>
					
					<div class="field-wrap">
						<label>
						Email Address<span class="req">*</span>
						</label>
						<input type="email" name="email" id="email_signup" required autocomplete="off"/>
					</div>
					
					<div class="field-wrap">
						<label>
						Set A Password<span class="req">*</span>
						</label>
						<input type="password" name="password" id="password_signup" required autocomplete="off"/>
					</div>
					
					<button type="submit" id="submit_signup" class="button button-block">SIGN UP</button>
					
				</form>
	
			</div>
			
		</div><!-- tab-content -->
		
	</div> <!-- /form -->

<script type="text/javascript" src="{% static 'cerita9.js' %}"></script>
</body>
</html>